@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');


:root{

    --background: linear-gradient(135deg, #667eea7e 0%, #764ba298 100%);
    --color-primary: #667eea;
    --color-secondary: #764ba2;
    --boton-padding:2rem 4rem;
}
body{

    font-family: 'Raleway', sans-serif;
}

.container{
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    padding: 8rem 0;
    max-width: 1200px;
}

.subtitle{

    color: var(--color-primary);
    font-size: 2.5rem;
    margin-bottom: 35px;
}

.hero{

    height: 100vh;
    background-image: var(--background), url(../img/firos-nv-1wBmbnvv4TE-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
}

.hero .container{
    padding: 0;
    
}
.nav{
    display: flex;
    justify-content: flex-end;
    height: 7rem;
    align-items: center;
    font-weight: 700;

}
.nav--footer{
    font-weight: 300;
    justify-content: flex-start;
}
.nav__items{
    color: #FFF;
    text-decoration: none;
    margin-right: 2rem;
    padding: 1rem 1.5rem;
}
.nav__items--cta{
    border: 1px solid #FFFF;
}

.nav__items--footer{
    padding: 1rem;

}

.hero__container{
    display: flex;
    height: calc(100vh - 7rem);
    align-items: center;
    color: #FFF;
    
}
.hero__texts{
    width: 80%;
    margin-bottom: 5rem;
}
.hero__title{
    font-size: 3.2rem;
}
.hero__subtitle{
    font-size: 2rem;
    font-weight: 300;
    margin:1.5rem 0;
}

.hero__cta{
    display: inline-block;
    background-color: #FFF;
    padding: var(--boton-padding);
    color: var(--color-primary);
    text-decoration: none;
    border-radius: 4rem;
    font-size: 1.5rem;
    
}
.hero__cta:hover,
.presentation__cta:hover{
    transition: .8s;
    background-color: #DBBABD;
    color: #fff;
}
/**para diseñar la imagen curva de header*/
/*ponemos position:relative;
al elemento podre de la imagen curva**/
.hero__wave{
    position: absolute;

    bottom: 0;
    left: 0;
    width: 100%;
    height: 10rem;

}

/**seccion de about */
.presentation{
    padding-top: 0;
    text-align: center;

}

.presentation__picture{
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    
    margin-bottom: 1rem;
    object-fit: cover;
    object-position: top;
    background-position: center;
}
.presentation__picture:hover{
    border-radius: 0;
    transition: 1.5s;
}

.presentation__copy{
    width: 80%;
    margin: 0 auto;
    line-height: 2;
}
.presentation__cta{
    display: inline-block;
    margin: 3rem;
    background: var(--color-primary);
    color: #fff;
    text-decoration: none;
 padding: var(--boton-padding);
 border-radius: 4rem;
 font-size: 1.5rem;
}


/*section about realizada con css GRID;***/

.about{
    min-height: 40rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 8rem;
    justify-items: center;
    align-items: center;


}
.about__img{
    text-align: center;
}
.about__img--left{

text-align: left;
}
.about__picture{
    max-width: 80%;
}

.about__paragraph{
    margin-bottom: 2rem;

    line-height: 1.5;
    font-weight: 300;
}


/*Projects de la galeria*/

.projects{
    background:  #F2F2F2;
    
}

.projects__grid{
    display: grid;
    height: 55rem;
    grid-template-areas: "img1 img1 img2 img3"
    "img1 img1 img4 img5";
    gap: 1rem;   
}

.projects__item{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  
}

.projects__item:nth-of-type(1){
    grid-area: img1;
}
.projects__item:nth-of-type(2){
    grid-area: img2;
}
.projects__item:nth-of-type(3){
    grid-area: img3;
}
.projects__item:nth-of-type(4){
    grid-area: img4;
}
.projects__item:nth-of-type(5){
    grid-area: img5;
}
.projects__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.projects__hover{

    position: absolute;
    background: #ad757f99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color:#fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateX(100%);
    cursor: pointer;
}

.projects__item:hover .projects__hover{
    transform: translateX(0%);
    transition: 1s ease-in-out
}
.projects__icon{
    margin-top: 10px;
    font-size: 30px;
}




/*testimoniales*/

.testimony__grid{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
}
.testimony__item{
    width: 95%;
margin: 0 auto;
background: var(--color-secondary);
box-shadow:  0 8px 10px rgba(66,66,66,.5);
border-radius: .7rem;
color: #fff;
padding: 3rem 2.5rem;
margin-bottom: 5rem;

}
.testimony__item:hover{
    background: #935162;
    transition: 1s ease-in-out;
}
.testimony__person{
    display: flex;

    align-items: center;
    margin-bottom: 20px
}
.testimony__img{
    width: 10rem;
    min-width: 10rem;
    height: 10rem;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
    border: 3px solid #fff;
    margin-right: 3rem;
}

.testimony__name{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.testimony__verification{
    color: #E0afa0;
    font-weight: 700;
}
.testimony__review{
    font-weight: 300;
line-height: 2;
}


/*foooter*/
.footer{
    background: var(--color-primary);
}
.footer__grid{
    display: grid;
    grid-template-columns: 3fr 2fr;
gap: 2rem;
align-items: center;
}


.footer__title{

    font-weight: 400;
    color:#FFF;
    font-size: 2rem;
    margin-bottom: 3rem;
    text-align: center;
}

.footer__icons{
    display: flex;
    justify-content: space-evenly;
}

.footer__container-icons{

    display: inline-block;
    width: 4rem;
    height: 4rem;
    color:#fff;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 50%;

}

.footer__icon{

color: #fff;
font-size: 2rem;
text-decoration: none;
align-items: center;

}
.fab.footer__icon{

    line-height: 4rem;
}

/*parte resposive*/

@media screen and (max-width: 800px){

    :root{
        --boton-padding:18px 40px;
    }
    .nav{
        justify-content: space-around;
    }



    .nav__items--cta{
        border: none;
    }
    .nav__items{
        font-weight: 400;
        border-bottom: 1px solid #fff;
        margin-right: 0;
    }
   
    .nav__items--footer{
        border: none;
    }
    .hero__texts{
        width: 100%;
        margin-bottom: 8rem;
    }
    .hero__title{
        font-size: 2.5rem;
    }
    .hero__subtitle{
        font-size: 1.5rem;
    }

    /*about */
    .presentation__copy{
        width: 100%;
    }
    .about{
        grid-template-columns: 1fr;
    }
    .about .container{
        padding-top: 30px;
    }
    .about__img--left{
        text-align: center;
    }
    .about__text:last-child{

        grid-row: 3/4;
    }


/*mis proyectos */
.projects__grid{
    grid-template-areas: 
    

    "img1 "
    "img2 "
    "img3 "
    "img4 "
    "img5 "
    ;

}
.projects__grid{
    width: 100%;
    height: 100%;
}


/*testimony */

.testimony__grid{
    grid-template-columns: 1fr;
    gap: 3rem;
}


/*footer */
.footer__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    align-items: center;
}
.footer__contact{
    grid-row: 1/ 2;

}
}


@media screen and (max-width: 500px){

    :root{
        --boton-padding :18px 35px;
    }
 .subtitle{
     font-size: 2rem;
     margin-bottom: 2.9rem;
 }
    .nav{
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-top: 1rem;
    }
    .nav__items{
        padding: 0 10px;
        border: 0;
    }
    .hero__texts{

        text-align: center;
        margin-bottom:10rem ;
    }
    .hero__title{
        font-size: 2rem;
    }

    /*about*/
    .presentation__picture{
        width: 12rem;
        height: 12rem;
    }
    .about{
        row-gap: 6rem;
    }
    .about.container{
        padding:0;
    }

    /*testimoniales */
    .testimony__person {
        display: block;
        align-items: center;
        margin-bottom: 20px;
        text-align: center;
    }
    .testimony__texts{
        text-align: center;
    }
    .testimony__img{
        margin: 0 ;
        margin-bottom:20px ;
    }
    .testimony .subtitle {
        font-size: 1.8rem;
        margin-bottom: 2.9rem;
        text-align: center;
    }
}